* {
	margin: 0;
	padding: 0;
}

.row {
    margin: 20px 0 30px 0;
}

.modal-super-wide {
    max-width: 95% !important;
}

.modalHeaderList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.modalHeaderItem {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.chapterTitel {
    font-weight: 600;
}

.txtB {
    font-weight: 700;
}


.modal-footer {
	display: block;
}

.modalFooterList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.modalFooterItem {
    font-family: Arial, sans-serif;
    font-size: 18px;
}